<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/cadastro.css">
    <title>Cadastro de cliente</title>
</head>
<body>
    <header>
        <section class="faixalogo">
                <img src="../assets/img/logo.png" width="60px" height="50px">
                <h1>Xhopii</h1>
        </section>
        <section class="menu">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastro Cliente</a></li>
                    <li><a href="#">Cadastro Funcionário</a></li>
                    <li><a href="#">Cadastro Produto</a></li>
                    <li><a href="#">Ver Clientes</a></li>
                    <li><a href="#">Ver Funcionários</a></li>
                    <li><a href="#">Ver Produtos</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <section class="formulario">
        <form>
            <p>Cadastrar Cliente</p>
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Sobrenome">
            <input type="number" placeholder="CPF">
            <input type="date">
            <input type="number" placeholder="Telefone">
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Senha">
        </form>
    </section>
    <footer>
        <section class="atendimento">
            <h5>ATENDIMENTO AO CLIENTE</h5>
            <ul>
                <li><a href="#">Central de ajuda</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Métodos de Pagamento</a></li>
                <li><a href="#">Garantia Xhopii</a></li>
                <li><a href="#">Devolução e Reembolso</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Ouvidoria</a></li>
            </ul>
        </section>
        <section class="sobre">
            <h5>SOBRE A XHOPII</h5>
            <ul>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Políticas Xhopii</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Programa de Aliados da Xhopii</a></li>
                <li><a href="#">Seja um Entregador Xhopii</a></li>
                <li><a href="#">Ofertas Relâmpago</a></li>
                <li><a href="#">Xhopii Blog</a></li>
                <li><a href="#">Imprensa</a></li>
            </ul>
        </section>
        <section class="icone-pagamento">
            <h5>PAGAMENTO</h5>
            <img src="../assets/img/pix-icon.png">
            <img src="../assets/img/boleto-icon.png">
            <img src="../assets/img/american-express-icon1.png">
            <img src="../assets/img/visa-icon.png">
            <img src="../assets/img/mastercard-icon2.png">
            <img src="../assets/img/hipercard-icon.png">
            <img src="../assets/img/elo-icon.png">
        </section>
        <section class="icone-rede">
            <h5>SIGA-NOS</h5>
            <figure>
                <img src="../assets/img/instagram-icon.png">
                <figcaption>Instagram</figcaption>
            </figure>
            <figure>
                <img src="../assets/img/twitter-icon.png">
                <figcaption>Twitter</figcaption>
            </figure>
            <figure>
                <img src="../assets/img/facebook-icon.png">
                <figcaption>Facebook</figcaption>
            </figure>
            <figure>
                <img src="../assets/img/youtube-icon.png">
                <figcaption>Youtube</figcaption>
            </figure>
            <figure>
                <img src="../assets/img/linkedin-icon.png">
                <figcaption>LinkedIn</figcaption>
            </figure>
        </section>
        <section class="icone-aplicativo">
            <h5>ATENDIMENTO AO CLIENTE</h5>
            <img src="../assets/img/qrcode.png">
            <img src="../assets/img/google-play.png">
            <img src="../assets/img/app-store.png">
        </section>
    </footer>
</body>
</html>