<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/cadastro.css">
    <title>Cadastro de Funcionário</title>
</head>
<body>
    <header>
        <section class="faixalogo">
            <section class="logo-texto">
                <img src="../assets/img/logo.png" width="60px" height="50px">
                <h1>Xhopii</h1>
            </section>
            <a href="#">Sair</a>
        </section>
        <section class="menu">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="../view/cadastro-cliente.html">Cadastro Cliente</a></li>
                    <li><a href="../view/cadastro-funcionario.html">Cadastro Funcionário</a></li>
                    <li><a href="../view/cadastro-produto.html">Cadastro Produto</a></li>
                    <li><a href="#">Ver Clientes</a></li>
                    <li><a href="#">Ver Funcionários</a></li>
                    <li><a href="../view/visualizar-produtos.html">Ver Produtos</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <section class="formulario">
        <form>
            <h5>Cadastrar Funcionário</h5>
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Sobrenome">
            <input type="text" placeholder="CPF">
            <input type="date">
            <input type="text" placeholder="Telefone">
            <input type="text" placeholder="Cargo">
            <input type="number" placeholder="Salário">
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Senha">
            <section class="selecionar-foto">
                <h5>Selecionar foto de perfil:</h5>
                <section class="content">
                    <p><a href="#">Escolher Arquivo</a></p>
                    <p>Nenhum arquivo selecionado</p>
                </section>
            </section>
            <section class="botao-cadastro">
                <p><a href="#">Cadastrar</a></p>
            </section>
        </form>
    </section>
    <footer>
        <section class="container">
            <section class="atendimento">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <ul>
                    <li><a href="#">Central de ajuda</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Métodos de Pagamento</a></li>
                    <li><a href="#">Garantia Xhopii</a></li>
                    <li><a href="#">Devolução e Reembolso</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Ouvidoria</a></li>
                </ul>
            </section>
            <section class="sobre">
                <h5>SOBRE A XHOPII</h5>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Políticas Xhopii</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Programa de Aliados da Xhopii</a></li>
                    <li><a href="#">Seja um Entregador Xhopii</a></li>
                    <li><a href="#">Ofertas Relâmpago</a></li>
                    <li><a href="#">Xhopii Blog</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </section>
            <section class="icone-pagamento">
                <h5>PAGAMENTO</h5>
                <img src="../assets/img/pix-icon.png">
                <img src="../assets/img/boleto-icon.png">
                <img src="../assets/img/american-express-icon1.png">
                <img src="../assets/img/visa-icon.png">
                <img src="../assets/img/mastercard-icon2.png">
                <img src="../assets/img/hipercard-icon.png">
                <img src="../assets/img/elo-icon.png">
            </section>
            <section class="icone-rede">
                <h5>SIGA-NOS</h5>
                <figure>
                    <img src="../assets/img/instagram-icon.png">
                    <figcaption>Instagram</figcaption>
                </figure>
                <figure>
                    <img src="../assets/img/twitter-icon.png">
                    <figcaption>Twitter</figcaption>
                </figure>
                <figure>
                    <img src="../assets/img/facebook-icon.png">
                    <figcaption>Facebook</figcaption>
                </figure>
                <figure>
                    <img src="../assets/img/youtube-icon.png">
                    <figcaption>Youtube</figcaption>
                </figure>
                <figure>
                    <img src="../assets/img/linkedin-icon.png">
                    <figcaption>LinkedIn</figcaption>
                </figure>
            </section>
            <section class="icone-aplicativo">
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <img src="../assets/img/qrcode.png">
                <img src="../assets/img/google-play.png">
                <img src="../assets/img/app-store.png">
            </section>
        </section>
        <section class="copyright">
            <p>© 2023 Xhopii. Todos os direitos acadêmicos reservados.</p>
        </section>
    </footer>
</body>
</html>