<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/cadastro.css">
    <title>Cadastro de cliente</title>
</head>
<body>
    <header>
        <section class="faixalogo">
                <img src="../assets/img/logo.png" width="60px" height="50px">
                <h1>Xhopii</h1>
        </section>
        <section class="menu">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastro Cliente</a></li>
                    <li><a href="#">Cadastro Funcionário</a></li>
                    <li><a href="#">Cadastro Produto</a></li>
                    <li><a href="#">Ver Clientes</a></li>
                    <li><a href="#">Ver Funcionários</a></li>
                    <li><a href="#">Ver Produtos</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <section class="formulario">
        <form>
            <p>Cadastrar Cliente</p>
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Sobrenome">
            <input type="number" placeholder="CPF">
            <input type="date">
            <input type="number" placeholder="Telefone">
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Senha">
        </form>
    </section>
    <footer>

    </footer>
</body>
</html>