<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/cadastro.css">
    <title>Cadastro de cliente</title>
</head>
<body>
    <header>
        <section class="faixalogo">
                <img src="../assets/img/logo.png" width="60px" height="50px">
                <h1>Xhopii</h1>
        </section>
        <section class="menu">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastro Cliente</a></li>
                    <li><a href="#">Cadastro Funcionário</a></li>
                    <li><a href="#">Cadastro Produto</a></li>
                    <li><a href="#">Ver Clientes</a></li>
                    <li><a href="#">Ver Funcionários</a></li>
                    <li><a href="#">Ver Produtos</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <section class="formulario">
        <form>
            <p>Cadastrar Cliente</p>
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="Sobrenome">
            <input type="number" placeholder="CPF">
            <input type="date">
            <input type="number" placeholder="Telefone">
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Senha">
        </form>
    </section>
    <footer>
        <section class="atendimento">
            <ul>
                <h5>ATENDIMENTO AO CLIENTE</h5>
                <li>Central de ajuda</li>
                <li>Como Comprar</li>
                <li>Métodos de Pagamento</li>
                <li>Garantia Xhopii</li>
                <li>Devolução e Reembolso</li>
                <li>Fale Conosco</li>
                <li>Ouvidoria</li>
            </ul>
        </section>
        <section class="sobre">
            <ul>
                <h5>SOBRE A XHOPII</h5>
                <li>Sobre nós</li>
                <li>Políticas Xhopii</li>
                <li>Política de Privacidade</li>
                <li>Programa de Aliados da Xhopii</li>
                <li>Seja um Entregador Xhopii</li>
                <li>Ofertas Relâmpago</li>
                <li>Xhopii Blog</li>
                <li>Imprensa</li>
            </ul>
        </section>
        <section class="icone-pagamento">
            <h5>PAGAMENTO</h5>
            <img src="../assets/img/pix-icon.png">
            <img src="../assets/img/boleto-icon.png">
            <img src="../assets/img/american-express-icon1.png">
            <img src="../assets/img/visa-icon.png">
            <img src="../assets/img/mastercard-icon2.png">
            <img src="../assets/img/hipercard-icon.png">
            <img src="../assets/img/elo-icon.png">
        </section>
        <section class="icone-rede">
            <h5>SIGA-NOS</h5>
            <img src="../assets/img/instagram-icon.png">
            <img src="../assets/img/twitter-icon.png">
            <img src="../assets/img/facebook-icon.png">
            <img src="../assets/img/youtube-icon.png">
            <img src="../assets/img/linkedin-icon.png">
        </section>
        <section class="icone-aplicativo">
            <h5>ATENDIMENTO AO CLIENTE</h5>
            <img src="../assets/img/qrcode.png">
            <img src="../assets/img/google-play.png">
            <img src="../assets/img/app-store.png">
        </section>
    </footer>
</body>
</html>