<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/style.css">
    <script src="../assets/script.js"></script>
    <title>Xhopii</title>
</head>
<body>
    <header>
        <section class="faixalogo">
            <img src="../assets/img/logo.png">
            <h1>Xhopii</h1>
        </section>
        <section class="menu">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastro Cliente</a></li>
                    <li><a href="#">Cadastro Funcionário</a></li>
                    <li><a href="#">Cadastro Produto</a></li>
                    <li><a href="#">Ver Clientes</a></li>
                    <li><a href="#">Ver Funcionários</a></li>
                    <li><a href="#">Ver Produtos</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <section class="produto">
        <section class="imagens">
            <section class="imagem-secundaria">
                <img src="../assets/img/produto1.png" onclick ="selecionarImgProduto(this)">
                <img src="../assets/img/produto2.png" onclick ="selecionarImgProduto(this)">
                <img src="../assets/img/produto3.png" onclick ="selecionarImgProduto(this)">
                <img src="../assets/img/produto4.png" onclick ="selecionarImgProduto(this)">
                <img src="../assets/img/produto5.png" onclick ="selecionarImgProduto(this)">
            </section>
            <section class="imagem-principal">
                <img id = "imagem-principal" src="../assets/img/produto1.png">
            </section>
        </section>
        <section class="produto-detalhes">
            <h1>Camisa Desenvolvedor Front-End CSS</h1>
            <h2 id="precoProduto">R$56,90</h2>
            <p id="qtdDisponivel" >171 peças dísponíveis</p>
            <p>Modelos:</p>
            <button class="botao" id="btnModeloPreto" onclick="mudarPreco(this)">Preto</button>
            <button class="botao" id="btnModeloAzul" onclick="mudarPreco(this)">Azul</button>
            <button class="botao" id="btnModeloVerde" onclick="mudarPreco(this)">Verde</button>
            <button class="botao" id="btnModeloCinza" onclick="mudarPreco(this)">Cinza</button>
            <button class="botao" id="btnModeloRosa" onclick="mudarPreco(this)">Rosa</button>
    
            <p>Tamanhos:</p>
            <button class="botao" id="btnTamanhoP" onclick="mudarDisponivel(this)">P</button>
            <button class="botao" id="btnTamanhoM" onclick="mudarDisponivel(this)">M</button>
            <button class="botao" id="btnTamanhoG" onclick="mudarDisponivel(this)">G</button>
            <button class="botao" id="btnTamanhoGG" onclick="mudarDisponivel(this)">GG</button>
            <p id="tamanhoSelecionado" >Tamanho Selecionado: P</p>
            <button id="botaoComprar">Comprar Agora</button>
        </section>
    </section>
    <footer>

    </footer>
</body>
</html>